main {
  min-height: 85vh !important;
}

.rating span {
  margin: 0.1rem;
}
h3 {
  padding: 1rem 0;
}

h2 {
  padding: 0.5rem 0;
  font-size: 1.4rem !important;
}

h1 {
  padding: 1rem 0;
  font-size: 1.8rem !important;
}
